{% extends 'base.html' %}

{% block header_extras %}
    <link rel="stylesheet" type="text/css" href="/static/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css">
{% endblock %}

{% block content %}
    <div class="page-header text-info">
        <h2>Create task</h2>
        <span class="text-muted">Tasks added to task queue will be processed later</span>
    </div>

    <form action="./" method="post" class="form-horizontal">
        <div class="form-group">
            <label for="keyword" class="col-md-2 control-label">Keyword:</label>

            <div class="col-md-10">
                <input class="form-control" type="text" name="keyword"
                       id="keyword" value=""
                       data-bind="value: task_keyword">
            </div>
        </div>
        <div class="form-group">
            <label for="depth" class="col-md-2 control-label">Depth:</label>

            <div class="col-md-1">
                <input class="form-control" type="number" name="depth"
                       id="depth" min="1" max="10" value="1"
                       data-bind="value: task_depth">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="with_numbers"
                               data-bind="value: task_with_numbers"> with
                        numbers
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Add task"
                       data-bind="click: add_task">
            </div>
        </div>
    </form>

    <div class="page-header text-info">
        <h2>
            Check progress
            <label class="checkbox pull-right">
                <input type="checkbox" name="updates" checked>
            </label>
        </h2>
        <span class="text-muted">You can see number of tasks in task queue or download result when complete</span>
    </div>


    <p class="lead" data-bind="visible: number_of_tasks() > 0">
    <span class="glyphicon glyphicon-remove text-danger"
          data-bind="click: cancel_active_tasks"></span>
        Number of tasks in task queue:
        <span data-bind="text: number_of_tasks()"></span>
    </p>

    <p class="lead"
       data-bind="visible: number_of_tasks() == 0 && values().length > 0">
        <span class="glyphicon glyphicon-ok text-success"></span>
        All task are complete <a href="export" target="_blank">download</a>
    </p>

    <div class="page-header text-info">
        <h2>View results</h2>
        <span class="text-muted">Also you can view results just in place</span>
    </div>

    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" style="padding-bottom: 20px;">
            <li role="presentation" class="active">
                <a href="#search-panel" aria-controls="search-panel" role="tab" data-toggle="tab">Search</a>
            </li>
            <li role="presentation">
                <a href="#results-panel" aria-controls="results-panel" role="tab" data-toggle="tab">Results</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="search-panel">
                <div class="input-group">
                    <div class="input-group-btn" style="padding-bottom: 20px;">
                        <input class="btn btn-default" type="button"
                               value="Find"
                               data-bind="click: search_roots"/>
                    </div>
                    <input type="text" name="search" class="form-control"
                           placeholder="Keyword..."
                           data-bind="value: search_keyword"/>
                </div>

                <ul data-bind="foreach: root_keywords">
                    <li>
                        <a href="#" data-bind="text: $data, click: $parent.show_results"></a>
                    </li>
                </ul>
            </div>

            <div role="tabpanel" class="tab-pane" id="results-panel">


                <table class="table table-striped">
                    <colgroup>
                        <col class="col-md-2">
                        <col class="col-md-10">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Keyword</th>
                        <th>Suggestions</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: values">
                    <tr>
                        <td data-bind="text: root"></td>
                        <td>
                            <div class="row">
                                <button class="pull-right col-md-1 btn btn-default"
                                        id="copy-results" style="margin-right: 20px;"
                                        data-bind="click: $parent.copy_to_clipboard, enable: $parent.support_copy_to_clipboad">
                                    Copy
                                </button>
                                <p id="results" class="col-md-12" data-bind="text: suggestions.join(', ')"></p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}

{% block footer_extras %}
    <script type="text/javascript" src="/static/libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="/static/libs/knockout/dist/knockout.js"></script>
    <script type="text/javascript" src="/static/js/scraper.js"></script>
{% endblock %}
